VITE_SUPABASE_URL=https://managemob.axonforce.com
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzczNzYzMDc0LCJleHAiOjIwODkxMjMwNzR9.kjOmsr2Wa4RQAgoHGlXx8boan2k6J_-L7wtzbzduyVI
